@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baloo+Bhai+2:wght@800&family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&family=Poppins:wght@400;500&family=Quicksand&family=Roboto+Mono:wght@500&family=Shantell+Sans:wght@300&family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1,
ul {
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
  /* font-size: 62.5%; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 576px) {
  html {
    font-size: small;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: small;
  }

  /* small */
  body {
    /* background-color: red; */

  }
}


@media screen and (min-width: 993px) and (max-width: 1200px) {
  html {
    font-size: small;
  }

  /* large */
  body {
    /* background-color: blue; */
  }
}